<article class="hentry">
    <header>
        <h2 class="entry-title"><a href="#" rel="bookmark" title="Permalink to this POST TITLE">This be the title</a></h2>
    </header>

    <footer class="post-info">
        <abbr class="published" title="2005-10-10T14:07:00-07:00"><!-- YYYYMMDDThh:mm:ss+ZZZZ -->
            <%= time %>
        </abbr>

        <address class="vcard author">
            By <a class="url fn" href="#">Who</a>
        </address>
    </footer><!-- /.post-info -->

    <div class="entry-content">
        <div id="map" style="height: 500px; background: lightgray"></div>
    </div><!-- /.entry-content -->
</article>